.section
{
	margin: 20px 0;
	line-height: 1.25rem;

	@media print { line-height: 1.125rem }
}

.section__title
{
	margin: 0 0 15px;
	padding: 0 0 10px;
	color: #333;
	font-size: 1rem;
	text-transform: uppercase;
	border-bottom: 1px solid #dfdfdf;
}

.section__content
{
	/* Here to remind that it exists. */
}
